*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

.navbar{
  background:#ff6b35;
  color:white;
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:15px 40px;
}

.logo{
  font-size:28px;
  font-weight:bold;
}

.nav-links{
  display:flex;
  list-style:none;
  gap:25px;
}

.nav-links a{
  color:white;
  text-decoration:none;
  font-size:18px;
  font-weight:bold;
}

.nav-links a:hover{
  color:yellow;
}